{{ partial "header.html" . }}
    <div class="pure-u-1 pure-u-md-3-4">
	<main role="main">
		<article class="single" itemscope itemtype="http://schema.org/BlogPosting">
			<h1 class="entry-title" itemprop="headline">{{ .Title }}</h1>
			<span class="entry-meta"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
			<section itemprop="entry-text">
				{{ .Content }}
			</section>
		</article>
	</main>
    </div>

{{ partial "footer.html" . }}